@media screen and (max-width: 992px) {
    .col-md-1{
        width: 8%;
       }
       .col-md-2{
        width: 15%;
       }
       .col-md-3{
        width: 23%;
       }
       .col-md-4{
        width: 32%;
       }
       .col-md-5{
        width: 40%;
       }
       .col-md-6{
        width: 50%;
       }
       .col-md-7{
        width: 60%;
       }
       .col-md-8{
        width: 68%;
       }
       .col-md-9{
        width: 77%;
       }
       .col-md-10{
        width: 85%;
       }
       .col-md-11{
        width: 92%;
       }
       .col-md-12{
        width: 100%;
       }
       div .tag h2{
        border-bottom-left-radius: 0% !important;
        border-bottom-right-radius: 0% !important;
        padding: 10px 5px;
        margin:20px 0px;
       }
        .logo img{
        width: 350px;
        height: 75px;
        padding-top: 10px;
       }
       section .ccclogo img{
        width: 50%;
        height: 75%;
       }
       h1{
        font-size: 22px !important;
       }
       h2{
        font-size: 20px !important;
       }
       h3{
        font-size: 18px !important;
       }
       h4{
        font-size: 16px !important;
       }
       h5{
        font-size: 14px !important;
       }
       h6{
        font-size: 13px !important;
       }
  }